/* FILE: assets/css/style.css */
body {
    background: url('../images/background/background2.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading-container {
    background-color: rgba(211, 211, 211, 0.7); /* Light grey semi-transparent */
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

#quiz-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question {
    font-size: 1.25rem;
}

#options button {
    margin: 5px 0;
}

#play-area, #answer-area {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

@media (max-width: 767.98px) {
    #play-area, #answer-area {
        margin-bottom: 20px;
    }
}

